<div class="container-fluid products">
  <div class="row">
    <div class="col-md-3">
      <h5>Category</h5>
      <br />
      <div class="categories">
        <p>
          <a>
            <i class="fa fa-plus" aria-hidden="true"></i>
            &nbsp;&nbsp;Atta
          </a>
        </p>
        <p>
          <a>
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a> &nbsp;&nbsp;Besa & Sooji/Rava
        </p>

        <p (click)="collapse()" [ngClass]="{'active':showCategories}">
          <a>
            <i class="fa fa-plus" aria-hidden="true" *ngIf="!showCategories"></i>
            <i class="fa fa-minus" aria-hidden="true" *ngIf="showCategories"></i>
          </a> &nbsp;&nbsp;Other Flours
        </p>

        <!-- categories -->
        <p *ngIf="showCategories">
          <a>
            <i class="fa fa-plus" aria-hidden="true"></i>

          </a> &nbsp;&nbsp;
          <span>Maida</span>
        </p>
        <p *ngIf="showCategories">
          <a>
            <i class="fa fa-plus" aria-hidden="true"></i>

          </a> &nbsp;&nbsp;
          <span>Rice Flour</span>
        </p>
        <p (click)="showSub()" *ngIf="showCategories" [ngClass]="{'active':showSubCategories}">
          <a>
            <i class="fa fa-plus" aria-hidden="true" *ngIf="!showSubCategories"></i>
            <i class="fa fa-minus" aria-hidden="true" *ngIf="showSubCategories"></i>
          </a> &nbsp;&nbsp;
          <span>Corn Flour</span>
        </p>
        <!-- //sub categories -->
        <p *ngIf="showSubCategories">
          <span class="subCat">Corn flour/Maize Atta/Makka Atta</span>
        </p>
        <p *ngIf="showSubCategories">
          <span class="subCat">Indian corn Flour Flour</span>
        </p>
        <!-- end sub cat -->

        <p *ngIf="showCategories">
          <a>
            <i class="fa fa-plus" aria-hidden="true"></i>

          </a> &nbsp;&nbsp;
          <span>Ragi Flour</span>
        </p>


        <p *ngIf="showCategories">
          <a>
            <i class="fa fa-plus" aria-hidden="true"></i>

          </a> &nbsp;&nbsp;
          <span>Jawar Flour</span>
        </p>

        <p *ngIf="showCategories">
          <a>
            <i class="fa fa-plus" aria-hidden="true"></i>

          </a> &nbsp;&nbsp;
          <span>Bajra Flour</span>
        </p>
        <p>
          <a>
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a> &nbsp;&nbsp;Organic Flours
        </p>
      </div>
    </div>
    <div class="col-md-9 items">
      <p>
        <a routerLink="/">Home</a>&nbsp;&nbsp;>&nbsp;
        <a>Grocery</a>&nbsp;&nbsp;>&nbsp;
        <a>Other Flours</a>&nbsp;&nbsp;>&nbsp;
        <a>Corn Flours</a>&nbsp;&nbsp;>&nbsp;
        <a>Corn Flour/Maize Atta/Makka Atta</a>

      </p>
      <br />
      <div class="row">
        <div class="col-md-3 itemdetails">
          <img _ngcontent-c5="" alt="Aashirvad" class="img-fluid prod_img" src="{{firstPic}}">
        </div>
        <div class="col-md-9 itemdetails" *ngFor="let item of product">
          <div *ngFor="let sku of item.sku">
          <h5>{{item.name}}</h5>
          <p> More by
            <strong> {{item.name}}</strong>
          </p>
          <p class="item_details_save"> You Save 14%</p>
          <p>
            <strong>Price</strong>
            <span class="item_details_price">: {{sku.selling_price}} </span>
          </p>
          <p>
            <strong>Deducted</strong>
            <span class="item_details_deduct">: Rs.70 </span>
          </p>
          <p> Available in </p>
          <p>
            <span class="item_details_quantity">{{sku.size}} </span>
          </p>

          <p>
            <button type="button" class="btn btn-black">ADD TO WISHLIST</button>
            <button type="button" class="btn btn-black" (click)="showSubscribeDetails()">SUBSCRIBE</button>

            <button type="button" class="btn btn-yellow dec">-</button>
            <button type="button" class="btn btn-yellow qty">1</button>
            <button type="button" class="btn btn-yellow add">+</button>
          </p>
          <br />
          <div class="cust-subscribe" *ngIf="showSubscriptionData">
            <div class="row">
              <div class="col-lg-12">
                <p>Choose Days</p>
                <ul class="chs-days">
                  <li>Mon</li>
                  <li>Tue</li>
                  <li>Wed</li>
                  <li>Thu</li>
                  <li>Fri</li>
                  <li>Sat</li>
                  <li>Sun</li>
                </ul>
              </div>
            </div>

            <!-- <input type=text [(ngModel)]="data">
              <input type=text [(ngModel)]="email" name="mail">
              <button (click)="submit()">Submit</button> -->
            <div class="row">
              <div class="col-lg-12 evry-day">
                <p>
                  <i class="fa fa-check-circle" aria-hidden="true"></i> Every Day</p>
                <p>
                  <i class="fa fa-check-circle" aria-hidden="true"></i> Alternate days</p>
                <p>
                  <i class="fa fa-check-circle" aria-hidden="true"></i> Once a week</p>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <h6>Starting Date</h6>
                <div class="cust-calender">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <input type="datetime-local" value="2018-09-12T19:30" min="2018-06-07T00:00" max="2018-06-14T00:00" />

                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>

      <p>
        <b>Prodct Details</b>
      </p>
      <p> Lorem ipsum text dummy text Lorem ipsum text dummy text Lorem ipsum text dummy text Lorem ipsum text dummy
        text Lorem
        ipsum text dummy text Lorem ipsum text dummy text Lorem ipsum text dummy text Lorem ipsum text dummy text Lorem
        ipsum
        text dummy text Lorem ipsum text dummy text Lorem ipsum text dummy text Lorem ipsum text dummy text </p>
      <p>
        <b>Key Features</b>
      </p>
      <p> Made with superior quality wheat</p>
      <p> Made with superior quality wheat</p>
      <p> Made with superior quality wheat</p>
      <p> Made with superior quality wheat</p>
      <h3>Similar Products</h3>
      <div class="products">
        <div class="row items">
          <div class="col-md-3 item" *ngFor="let item of specificProd">
            <div class="card" (click)="showProduxtDetails()">
              <div *ngFor="let sku of item.sku">
              <a>
                <i class="fa fa-heart" aria-hidden="true"></i>
              </a>
              <img class="img-fluid product-img" [src]="item.image" alt="Card image cap">
              <img class="img-fluid valuepack" src="/assets/images/valuePack.jpg" alt="Card image cap">
              <div class="card-block">
                <h5>{{item.name}} </h5>
                <p>{{sku.size}}</p>
                <div class="row  item-price">
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <span class="price">
                      <i class="fa fa-rupee" aria-hidden="true"></i>
                      {{sku.selling_price}}</span>
                    <strike>
                      <i class="fa fa-rupee" aria-hidden="true"></i>
                      {{sku.mrp}}</strike>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <span class="saveMney">you save {{item.percentage}}</span>
                  </div>
                </div>
                <br />
                <div class="row prdct-length">
                  <div class="col-md-4">
                    <span *ngIf="showInput">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="col-md-4 quantity">
                    <span class="add text-center" *ngIf="!showInput">Add</span>
                    <span *ngIf="showInput">1</span>
                  </div>
                  <div class="col-md-4">
                    <span class="plus" (click)="showInputValue()">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
      
      
        </div>
      </div>
      
    </div>
  </div>
</div>
