<div class="mdl-card mdl-shadow--2dp">

  <div class="mdl-card__supporting-text">

    <div class="mdl-stepper-horizontal-alternative">
      <div class="mdl-stepper-step active-step step-done" (click)="order()">
        <div class="mdl-stepper-circle" [ngClass]="{'stepactive' :orderSu}">

        </div>
        <div class="mdl-stepper-title">Order Summary</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step active-step editable-step" (click)="delAdd()">
        <div class="mdl-stepper-circle" [ngClass]="{'stepactive' :deliveryA}">

        </div>
        <div class="mdl-stepper-title">Delivery Address</div>
        <div class="mdl-stepper-optional"></div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step active-step editable-step" (click)="delOpt()">
        <div class="mdl-stepper-circle" [ngClass]="{'stepactive' :deliveryOp}">

        </div>
        <div class="mdl-stepper-title">Delivery Options</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step active-step editable-step" (click)="paymentMethod()">
        <div class="mdl-stepper-circle" [ngClass]="{'stepactive' :paymentM}">

        </div>
        <div class="mdl-stepper-title">Payment Method</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
    </div>

  </div>

</div>
<div class="container" *ngIf="orderSu">
  <div class="row">
    <br />
    <h4>ORDER SUMMARY</h4>
    <table class="table prod-table" *ngFor="let summary of cartSummary">
      <thead class="table-header">
        <tr>
          <th scope="col" width="40%" class="table-headings">Item Description</th>
          <th scope="col" width="15%" class="table-headings">Unity Price</th>
          <th scope="col" width="15%" class="table-headings">Quantity</th>
          <th scope="col" width="15%" class="table-headings">Subtotal</th>
          <th scope="col" width="15%" class="table-headings">Savings</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cartData of cart">
          <td class="table-data">
            <img [src]="url + cartData.image" class="prod-image">
            <p>
              <strong>{{summary.name}}</strong>
            </p>
            <!-- <span>1</span> -->
          </td>
          <td class="table-price" *ngFor="let sku of cartData.sku">
            <p>
              <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{sku.selling_price}}
              <br />
              <!-- <i class="fa fa-strikethrought" aria-hidden="true"></i> -->
              <!-- <i class="fa fa-inr" aria-hidden="true"></i>&nbsp; -->
            </p>
          </td>
          <td class="table-quanity" *ngFor="let sku of cartData.sku">
            <div class="quantity">
              <span>{{sku.mycart}}</span>
            </div>
          </td>
          <td class="table-total">
            <p>
              <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{cartData.selling_price}}
            </p>
          </td>
          <td class="table-savings">
            <p>
              <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{cartData.mrp-cartData.selling_price}}
            </p>
            <span>
              You Save {{(100-(cartData.selling_price/cartData.mrp)*100).toFixed(0)}}%
            </span>
          </td>
        </tr>
        <tr class="table-border">
          <td class="mrp-rate">
            <h5>Total MRP</h5>
          </td>
          <td></td>
          <td></td>
          <td class="table-total">
            <p>
              <i class="fa fa-inr" aria-hidden="true"></i>{{summarySum.grand_total}}</p>
          </td>
          <td class="table-savings">
            <p>
              <i class="fa fa-inr" aria-hidden="true"></i>{{summarySum.mrp-summarySum.selling_price}}
            </p>
            <span> You Save {{(100-(summarySum.selling_price/summarySum.mrp)*100).toFixed(0)}}%</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row promo-code-bar">
    <div class="col-lg-4 promo-code">
      <h5>Have Promo Code</h5>
    </div>
    <div class="col-lg-4 input-button">
      <form>
        <input type="text" class="form-control input-field" placeholder="PROMO CODE" [(ngModel)]="coupon" name="coupon">
      </form>
    </div>
    <div class="col-lg-4 input-button">
      <button type="button" class="btn apply-btn" (click)="postPromo(coupon)">APPLY</button>

    </div>
    <div>
      <hr class="dash" />
    </div>
  </div>
  <div class="row" *ngFor="let summary of cartSummary">
    <div class="col-lg-6 text-center">
      <h5>
        <strong>Total to Pay</strong>
      </h5>
    </div>
    <div class="col-lg-6 total-mrp">
      <p>
        <strong>
          <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{summary.grand_total}}</strong>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn next-btn" (click)="delAdd()">NEXT</button>
    </div>
  </div>
</div>


<!-- Delivery Address -->

<div class="container" *ngIf="deliveryA">
  <div class="row">
    <div class="col-lg-6">
      <h4>DELIVERY ADDRESS</h4>
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn adress-btn" data-toggle="modal" data-target="#elegantModalFormdata">ADD NEW
        ADDRESS</button>
    </div>
  </div>


  <div class="row address-bar">
    <div class="col-lg-3 home-address" *ngFor="let item of getAddress">
      <div class="office">
        <p>
          <strong>{{item.type}} </strong>
        </p>
        <p>
          <strong>{{item.name}}</strong>
        </p>
        <div class="address-details">
          <p>{{item.address1}}</p>
          <p>{{item.landmark}}</p>
          <p>{{item.state}}&nbsp; {{item.pincode}}</p>
        </div>
      </div>
      <div class="row deliver-btn">
        <p>
          <strong (click)=checkoutDelivery(item._id)>DELIVER HERE </strong>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn next-btn" (click)="delOpt()">NEXT</button>
    </div>
  </div>
</div>
<!-- Delivery Options -->

<div class="container" *ngIf="deliveryOp">
  <div class="row">
    <h4>DELIVERY OPTIONS</h4>
  </div>
  <div class="delivery-time">
    <div class="col-lg-12">
      <p>
        <strong>Select Delivery Time</strong>
      </p>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4">
        <span>Dates:
          <select>
            <option *ngFor="let time of dateSlot">{{time.date}}</option>
          </select></span>
      </div>
      <div class="col-lg-4">
        <span>Times:
          <select>
            <option *ngFor="let time of timeSlot">{{time.time}}</option>
          </select></span>
      </div>
      <!-- <div class="col-lg-2 edit-time">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </div> -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn next-btn" (click)="paymentMethod()">NEXT</button>
    </div>
  </div>
</div>
<div class="container" *ngIf="paymentM">
  <div>
    <h4>PAYMENT METHOD</h4>
  </div>
  <div class="payment-method">
    <h5>Choose Payment Method</h5>
    <div class="row wallet">
      <div class="col-lg-6">
        <img src="assets/images/wallet.png" class="image"> &nbsp; &nbsp;
        <span>Wallet</span>
      </div>
      <div class="col-lg-4 offer-zone">
        <span>2 Offers</span>
      </div>
      <div class="col-lg-2 right-arrow">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
    <div class="row wallet">
      <div class="col-lg-6 credit-card">
        <i class="fa fa-credit-card" aria-hidden="true"></i> &nbsp; &nbsp;
        <span>
          <strong>Debit / Credit Card</strong>
        </span>
      </div>
      <div class="col-lg-6 right-arrow">
        <i class="fa fa-angle-right " aria-hidden="true"></i>
      </div>
    </div>
    <div class="row wallet">
      <div class="col-lg-6">
        <img src="assets/images/rupee.png" class="image"> &nbsp; &nbsp;
        <span>Net Banking</span>
      </div>
      <div class="col-lg-6 right-arrow">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
    <div class="row  wallet-card">
      <div class="col-lg-6">
        <img src="assets/images/money.png" class="image"> &nbsp; &nbsp;
        <span>
          <strong>
            Cash On Delivery
          </strong>
        </span>
      </div>
      <div class="col-lg-6 right-arrow">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn pay-btn" (click)="cartCheckout(summarySum.grand_total)">PROCEED AND PAY</button>
    </div>
  </div>
</div>

<div class="modal fade right" id="elegantModalFormdata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-side modal-top-right" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel">
          <strong>ADD NEW ADDRESS</strong>
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-4">
        <!--Body-->
        <!-- Default inline 1-->


        <form>
          <ul _ngcontent-c1="" class="title-list">
            <li _ngcontent-c1="" *ngFor="let mr of list">
              <div _ngcontent-c1="">
                <input _ngcontent-c1="" checked="" class="radio-custom" id="radio-1" name="radio-group" type="radio">
                <label _ngcontent-c1="" class="radio-custom-label" for="radio-1">{{mr.value}}</label>
              </div>
            </li>
            <!-- <li _ngcontent-c1="">
              <div _ngcontent-c1="">
                <input _ngcontent-c1="" class="radio-custom" id="radio-2" name="radio-group" type="radio">
                <label _ngcontent-c1="" class="radio-custom-label" for="radio-2">Mrs.</label>
              </div>
            </li>
            <li _ngcontent-c1="">
              <div _ngcontent-c1="">
                <input _ngcontent-c1="" class="radio-custom" id="radio-3" name="radio-group" type="radio">
                <label _ngcontent-c1="" class="radio-custom-label" for="radio-3">Miss</label>
              </div>
            </li>
            <li _ngcontent-c1="">
              <div _ngcontent-c1="">
                <input _ngcontent-c1="" class="radio-custom" id="radio-4" name="radio-group" type="radio">
                <label _ngcontent-c1="" class="radio-custom-label" for="radio-4">M/S</label>
              </div>
            </li> -->
          </ul>
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name"
              [(ngModel)]="addData.name" name="name">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Flot/House/Office No</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Flot/House/Office No"
              [(ngModel)]="addData.phone" name="phone">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Steet Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Steet Name" [(ngModel)]="addData.address1"
              name="phone">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Taluka</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Taluka" [(ngModel)]="addData.taluk"
              name="taluk">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">District</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="District" [(ngModel)]="addData.district"
              name="district">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">State</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="State" [(ngModel)]="addData.state"
              name="state">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Pincode</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Pincode" [(ngModel)]="addData.pincode"
              name="pincode">
          </div>
          Address Type:
          <button type="submit" class="btn type" (click)="buttonType('HOME')">Home</button>
          <button type="submit" class="btn type" (click)="buttonType('OFFICE')">Office</button>
          <button _ngcontent-c3="" class="btn update-btn" type="button" (click)="createAdd()">CREATE</button>
        </form>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!-- Modal -->
  <!--Accordion wrapper-->

</div>
