<div class="cat-div">
  <div class="main-menu">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light ">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/images/logo.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  menu-list" id="navbarSupportedContent">
        <div class="container navbar-nav pt-3">
          <div class="input-group  search-menu mb-3">
            <div class="input-group-prepend dropdown-append">
              <img class="map-pointer" src="assets/images/ic_location_copy.png">
              <select class="form-control location" id="exampleFormControlSelect1" (change)="header.changeVillageName($event.target.value,village)">
                <option selected *ngFor="let villageName of header.village" value="{{villageName.pincode}}">{{villageName.pincode}}</option>
              </select>
            </div>
            <!-- <form class="example" action="/action_page.php">
              <input type="text" placeholder="" name="search" [(ngModel)]="search">
              <button type="submit" (click)="searchProducts(search)">Search</button>
            </form> -->
            <form class="example" action="/action_page.php">
              <input type="text" aria-label="Number" [formControl]="header.myControl" [matAutocomplete]="auto" (keyup)="header.updated()"
                [(ngModel)]="header.data">

              <button type="submit" (click)="header.searchProducts(search)">Search</button>

            </form>
            <div class="search-name" *ngIf="header.showDrop">
              <p *ngFor="let option of header.options" [value]="option.name" (click)="header.selectValue(option.name)">
                <i class="fa fa-search" aria-hidden="true"></i> &nbsp;{{option.name}} in <span class="red-text">{{option.cat_name}}
                </span>
              </p>
            </div>

          </div>
        </div>
        <form class="form-inline my-2 my-lg-0 cart-btn">

          <button *ngIf="cartCount=='0'" class="btn  my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#cust_mycart"
            (click)="getHeadCart()">

            <i class="fas fa-shopping-cart"></i> My Cart
            ( {{cartCount}} )
          </button>


          <button *ngIf="cartCount!=='0'" class="btn  my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#cust_mycart"
            (click)="getHeadCart()">

            <i class="fas fa-shopping-cart"></i>
            <span class="home-cart"> {{cartCount}} </span> <i class="fa fa-inr" aria-hidden="true"></i>
            {{grandTotal}}
          </button>
        </form>
      </div>
    </nav>
  </div>


  <div ng2-carouselamos class="slides-wrapper" [items]="categoryData" [width]="1400" [$prev]="prev" [$next]="next"
    [$item]="item">
  </div>


  <ng-template #prev>
    <img src="assets/images/ic_category_left_arrow.png" id="left" class="arr-lft" />
  </ng-template>
  <ng-template #next>
    <img src="assets/images/ic_category_right_arrow.png" id="right" class="arr-rht" />
  </ng-template>
  <ng-template #item let-item let-i="index">

    <div class="proitems">
      <img src="{{ url + item.pic }}" (click)="header.showSubcategorie(item._id,item.name,i)">
      <p>{{item.name | limitTo : 20}}</p>
    </div>
  </ng-template>
  <br />

  <hr class="horizantal">

</div>

<div class="modal fade right" id="cust_mycart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-side modal-top-right" role="document">
    <div class="modal-content cust-mheader">
      <div class="modal-header mcart">
        <h5 class="modal-title" id="exampleModalLabel">My cart ( {{header.mycart.length}} items)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <div class="t-mrp">
              <h6>Total MRP</h6>
              <p>Your Total Savings </p>
            </div>
          </div>
          <div class="col-4">
            <div class="rup">
              <p>
                <strong>
                  <i class="fa fa-inr" aria-hidden="true"></i>{{header.mrp}}</strong>
              </p>
              <p class="green-text">
                <i class="fa fa-inr" aria-hidden="true"></i> {{header.savedMoney}} ( {{header.grandPer}} % )</p>
            </div>
          </div>
        </div>
        <hr class="dtd-line">
        <div class="row">
          <div class="col-8">
            <div class="totalpay">
              <p>
                <strong>Total to Pay</strong>
              </p>
              <h6>(Inclusive all taxes)</h6>
            </div>
          </div>
          <div class="col-4">
            <div class="rup">
              <p>
                <strong>
                  <i class="fa fa-inr" aria-hidden="true"></i>{{header.grandTotal}}</strong>
              </p>
            </div>
          </div>
        </div>

        <div class="row  bac-shadw" *ngFor="let cartItems of header.mycart;let i = index">
          <div class="col-lg-3">
            <div class="ashirvadimg">
              <img [src]="url + cartItems.image" alt="ashirvad" />
            </div>
          </div>
          <div class="col-lg-9">
            <div class="atta">

              <p>
                <strong>{{cartItems.name | limitTo : 20}}</strong>
              </p>
              <div class="row" *ngFor="let sku of cartItems.sku">
                <div class="col-md-3">
                  <span class="sk-size">{{sku.size}}</span>
                </div>
                <div class="col-md-2">
                  <p class="green-text">
                    <i class="fa fa-inr" aria-hidden="true">{{cartItems.selling_price}}</i>
                  </p>

                </div>
                <div class="col-md-2" *ngIf="sku.mrp!==undefined">
                  <p class="red-text">
                    <i class=" fa fa-inr" aria-hidden="true">
                      <strike>{{cartItems.mrp}}</strike>
                    </i>
                  </p>

                </div>
                <div class="col-md-5" *ngIf="sku.mrp!==undefined">
                  <p class="save">You Save {{sku.percentage}}%</p>
                </div>
              </div>

              <div class="row sizes" *ngFor="let sku of cartItems.sku">
                <div class="col-md-4">
                  <!-- <button class="btn btn-success subscribe" data-dismiss="modal" (click)="headerSubscribe(cartItems.id_product,cartItems.name)">Subscribe</button> -->
                </div>
                <div class="col-md-8">
                  <div class="quantity buttons_added product-added nav-cart">
                    <input type="button" value="-" class="minus" (click)="itemHeaderDecrease(header.mycart,cartItems.name,cartItems.id_product,sku._id,i,sku.mycart)">

                    <input type="number" step="1" min="1" max="" name="quantity" value="{{sku.mycart}}" title="Qty"
                      class="input-text qty text product-input-quantity" size="4" pattern="" inputmode="" disabled>
                    <input type="button" value="+" class="plus" (click)="itemHeaderIncrease(header.mycart,cartItems.name,cartItems.id_product,sku._id,i,sku.mycart)">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer cust-modalfooter">
        <input class="btn btn-primary" type="reset" value="CHECKOUT" routerLink="/mycart" data-dismiss="modal">
      </div>
    </div>
  </div>
</div>
<div class="mdl-card mdl-shadow--2dp">

  <div class="mdl-card__supporting-text">

    <div class="mdl-stepper-horizontal-alternative">
      <div class="mdl-stepper-step active-step step-done" (click)="order()">
        <div class="mdl-stepper-circle" [ngClass]="{'stepactive' :orderSu}">

        </div>
        <div class="mdl-stepper-title">Order Summary</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step active-step editable-step" (click)="delAdd()">
        <div class="mdl-stepper-circle" [ngClass]="{'stepactive' :deliveryA}">

        </div>
        <div class="mdl-stepper-title">Delivery Address</div>
        <div class="mdl-stepper-optional"></div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step active-step editable-step" (click)="delOpt()">
        <div class="mdl-stepper-circle" [ngClass]="{'stepactive' :deliveryOp}">

        </div>
        <div class="mdl-stepper-title">Delivery Options</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step active-step editable-step" (click)="paymentMethod()">
        <div class="mdl-stepper-circle" [ngClass]="{'stepactive' :paymentM}">

        </div>
        <div class="mdl-stepper-title">Payment Method</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
    </div>

  </div>

</div>
<div class="container" *ngIf="orderSu">
  <div class="row">
    <br />
    <h4>ORDER SUMMARY</h4>
    <table class="table prod-table" *ngFor="let summary of cartSummary">
      <thead class="table-header">
        <tr>
          <th scope="col" width="40%" class="table-headings">Item Description</th>
          <th scope="col" width="15%" class="table-headings">Unit Price</th>
          <th scope="col" width="15%" class="table-headings">Quantity</th>
          <th scope="col" width="15%" class="table-headings">Subtotal</th>
          <th scope="col" width="15%" class="table-headings">Savings</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cartData of cart">
          <td class="table-data">
            <img [src]="url + cartData.image" class="prod-image">
            <p>
              <strong>{{cartData.name}}</strong><br />
              <span>{{cartData.size}}</span>
            </p>

          </td>
          <td class="table-price" *ngFor="let sku of cartData.sku">
            <p>
              <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{sku.selling_price}}
              <br />

              <strike> <i class="fa fa-inr" aria-hidden="true">&nbsp;</i>{{sku.mrp}}</strike>
              <!-- <i class="fa fa-inr" aria-hidden="true"></i>&nbsp; -->
            </p>
          </td>
          <td class="table-quanity" *ngFor="let sku of cartData.sku">
            <div class="quantity">
              <span>{{sku.mycart}}</span>
            </div>
          </td>
          <td class="table-total">
            <p>
              <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{cartData.selling_price}}
            </p>
          </td>
          <td class="table-savings">
            <p>
              <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{cartData.mrp-cartData.selling_price}}
            </p>
            <span>
              You Save {{cartData.percentage}}%
            </span>
          </td>
        </tr>
        <tr class="table-border">
          <td class="mrp-rate">
            <h5>Total MRP</h5>
          </td>
          <td></td>
          <td></td>
          <td class="table-total">
            <p>
              <i class="fa fa-inr" aria-hidden="true"></i>{{summarySum.grand_total}}</p>
          </td>
          <td class="table-savings">
            <p>
              <i class="fa fa-inr" aria-hidden="true"></i>{{summarySum.mrp-summarySum.selling_price}}
            </p>
            <span> You Save {{(100-(summarySum.selling_price/summarySum.mrp)*100).toFixed(0)}}%</span>
          </td>
        </tr>
        <tr class="table-border">
          <td class="mrp-rate promo">
            <h5>Have Promo Code</h5>
          </td>
          <td class="table-total" colspan="4">
            <div class="row promo-code-bar">
              <div class="col-lg-6 input-button">
                <form>
                  <input type="text" class="form-control input-field" placeholder="PROMO CODE" [(ngModel)]="coupon"
                    name="coupon">
                </form>
              </div>
              <div class="col-lg-6 input-button">
                <button type="button" class="btn apply-btn" (click)="postPromo(coupon)">APPLY</button>
              </div>
              <div>
                <hr class="dash" />
              </div>
            </div>
          </td>

        </tr>
        <tr>
          <td class="mrp-rate total">
            <div class="col-lg-6 text-center">
              <h5>
                <strong>Total to Pay</strong>
              </h5>
            </div>
          </td>
          <td></td>
          <td></td>
          <td class="table-total">
            <div class="total-mrp">
              <p>
                <strong>
                  <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{summary.grand_total}}</strong>
              </p>
            </div>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn next-btn" (click)="delAdd()">NEXT</button>
    </div>
  </div>
</div>


<!-- Delivery Address -->

<div class="container" *ngIf="deliveryA">
  <div class="row">
    <div class="col-lg-6">
      <h4>DELIVERY ADDRESS</h4>
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn adress-btn" data-toggle="modal" data-target="#elegantModalFormdata">ADD NEW
        ADDRESS</button>
    </div>
  </div>


  <div class="row address-bar">
    <div class="col-lg-3 home-address" *ngFor="let item of getAddress;let i =index">
      <div class="office">
        <p>
          <strong>{{item.type}} </strong>
        </p>
        <p>
          <strong>{{item.name}}</strong>
        </p>
        <div class="address-details">
          <p>{{item.address1}}</p>
          <p>{{item.landmark}}</p>
          <p>{{item.state}}&nbsp; {{item.pincode}}</p>
        </div>
      </div>
      <div class="row dbtn" [ngClass]="{'deliver-btn':confirmDel==i}">
        <p>
          <strong (click)=checkoutDelivery(item._id,i)>DELIVER HERE </strong>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn next-btn" (click)="delOpt()">NEXT</button>
    </div>
  </div>
</div>
<!-- Delivery Options -->

<div class="container" *ngIf="deliveryOp">
  <div class="row">
    <h4>DELIVERY OPTIONS</h4>
  </div>
  <div class="delivery-time">
    <div class="col-lg-12">
      <p>
        <strong>Select Delivery Time</strong>
      </p>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-2"></div>
      <!-- <div class="col-lg-4">
        <span>Dates:
          <select (change)="dateChange($event.target.value)">
            <option>Select Date</option>
            <option *ngFor="let time of dateSlot" [value]="time.date">{{time.date}}</option>
          </select></span>
      </div> -->
      <!-- <div class="col-lg-4">
        <span>Times:
          <select (change)="timeChange($event.target.value)">
            <option *ngFor="let time of timeSlot[0]" [value]="time.time">{{time.time}}</option>
          </select></span>
      </div> -->
      <div class="col-lg-12 edit-time">
        <p *ngFor="let data of dateSlot">{{data.date}}<span *ngFor="let time of data.times">{{time.time}}</span><i
            class="fa fa-pencil" aria-hidden="true"></i></p><br />

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn next-btn" (click)="paymentMethod()">NEXT</button>
    </div>
  </div>
</div>
<div class="container" *ngIf="paymentM">
  <div>
    <h4>PAYMENT METHOD</h4>
  </div>
  <div class="payment-method">
    <h5>Choose Payment Method</h5>
    <div class="row wallet" *ngFor="let item of payOptions" (click)="optType(item.pay_option,item.type)">
      <div class="col-lg-6">
        <img [src]="url + item.logo" class="image"> &nbsp; &nbsp;
        <span>{{item.pay_option}}</span>
      </div>
      <div class="col-lg-2 right-arrow">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn pay-btn" (click)="cartCheckout(summarySum.grand_total)">PROCEED AND PAY</button>
    </div>
  </div>
</div>

<div class="modal fade right" id="elegantModalFormdata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-side modal-top-right" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel">
          <strong>ADD NEW ADDRESS</strong>
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-4">
        <!--Body-->
        <!-- Default inline 1-->


        <form>

          <ul class="title-list">
            <li class="prefixData">
              <a (click)="checkPrefix('mr')"><i class="fa fa-check prefix" aria-hidden="true" [ngClass]="{'activemrPrefix':prefix==='mr'}"></i>
                Mr.</a>
            </li>
            <li class="prefixData">
              <a (click)="checkPrefix('mrs')"><i class="fa fa-check prefix" aria-hidden="true" [ngClass]="{'activemrsPrefix':prefix==='mrs'}"></i>
                Mrs.</a>
            </li>
            <li class="prefixData">
              <a (click)="checkPrefix('miss')"><i class="fa fa-check prefix" aria-hidden="true" [ngClass]="{'activemissPrefix':prefix==='miss'}"></i>
                Miss</a>
            </li>
            <li class="prefixData">
              <a (click)="checkPrefix('msa')"><i class="fa fa-check prefix" aria-hidden="true" [ngClass]="{'activemsaPrefix':prefix==='msa'}"></i>
                M/S</a>
            </li>

          </ul>
          <br />
          <div class="form-group address-form">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" alphabetsOnly id="exampleInputEmail1" aria-describedby="emailHelp"
              [(ngModel)]="addData.name" name="name" pattern="[a-zA-Z]+" ng-pattern-restrict>
          </div>
          <div class="form-group address-form">
            <label for="exampleInputPassword1">Flat/House/Office No</label>
            <input type="text" alphanumericOnly class="form-control" id="exampleInputPassword1" [(ngModel)]="addData.phone"
              name="phone">
          </div>
          <div class="form-group address-form">
            <label for="exampleInputPassword1">Steet Name</label>
            <input type="text" class="form-control" alphanumericOnly id="exampleInputPassword1" [(ngModel)]="addData.address1"
              name="phone">
          </div>
          <div class="form-group address-form">
            <label for="exampleInputPassword1">Taluka</label>
            <input type="text" class="form-control" alphanumericOnly id="exampleInputPassword1" [(ngModel)]="addData.taluk"
              name="taluk">
          </div>
          <div class="form-group address-form">
            <label for="exampleInputPassword1">District</label>
            <input type="text" class="form-control" alphanumericOnly id="exampleInputPassword1" [(ngModel)]="addData.district"
              name="district">
          </div>
          <div class="form-group address-form">
            <label for="exampleInputPassword1">City</label>
            <input type="text" class="form-control" alphanumericOnly id="exampleInputPassword1" [(ngModel)]="addData.city"
              name="city">
          </div>
          <div class="form-group address-form">
            <label for="exampleInputPassword1">State</label>
            <input type="text" class="form-control" alphanumericOnly id="exampleInputPassword1" [(ngModel)]="addData.state"
              name="state">
          </div>
          <div class="form-group address-form">
            <label for="exampleInputPassword1">Pincode</label>
            <input myNumberOnly type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="addData.pincode"
              name="pincode" maxlength="6" required>
          </div>
          <div class="form-group address-form">
            <label for="exampleInputPassword1">Locality/Landmark</label>
            <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="addData.locality" name="locality">
          </div>
          Address Type:
          <button type="submit" class="btn type" [ngStyle]="{'background-color':type == 'HOME' ? 'yellow'  :  ''}" id="home"
            (click)="buttonType('HOME')">Home</button>
          <button type="submit" class="btn type" (click)="buttonType('OFFICE')" [ngStyle]="{'background-color':type == 'OFFICE' ? 'yellow'  :  ''}">Office</button>
          <button _ngcontent-c3="" class="btn update-btn" type="button" (click)="createAdd()">CREATE</button>
        </form>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!-- Modal -->
  <!--Accordion wrapper-->

</div>
