<app-multicarousel></app-multicarousel>
<div class="mdl-card mdl-shadow--2dp">

  <div class="mdl-card__supporting-text">

    <div class="mdl-stepper-horizontal-alternative">
      <div class="mdl-stepper-step active-step step-done">
        <div class="mdl-stepper-circle" (click)="order()">
          <span>1</span>
        </div>
        <div class="mdl-stepper-title">Order Summary</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step active-step editable-step">
        <div class="mdl-stepper-circle" (click)="delAdd()">
          <span>2</span>
        </div>
        <div class="mdl-stepper-title">Delivery Address</div>
        <div class="mdl-stepper-optional"></div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step active-step editable-step">
        <div class="mdl-stepper-circle" (click)="delOpt()">
          <span>3</span>
        </div>
        <div class="mdl-stepper-title">Delivery Options</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step active-step editable-step">
        <div class="mdl-stepper-circle" (click)="paymentMethod()">
          <span>4</span>
        </div>
        <div class="mdl-stepper-title">Payment Method</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
    </div>

  </div>

</div>
<div class="container" *ngIf="orderSu">
  <div class="row">
    <br />
    <h4>ORDER SUMMARY</h4>
    <table class="table prod-table" *ngFor = "let summary of cartSummary">
      <thead class="table-header">
        <tr>
          <th scope="col" width="40%" class="table-headings">Item Description</th>
          <th scope="col" width="15%" class="table-headings">Unity Price</th>
          <th scope="col" width="15%" class="table-headings">Quantity</th>
          <th scope="col" width="15%" class="table-headings">Subtotal</th>
          <th scope="col" width="15%" class="table-headings">Savings</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-data">
            <img src="assets/images/Aashirvaad.jpg" class="prod-image">
            <p>
              <strong>{{summary.name}}</strong>
              </p>
            <span>10kg</span>
          </td>
          <td class="table-price">
            <p>
              <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{summary.total_selling_price}}
              <br />
              <!-- <i class="fa fa-strikethrought" aria-hidden="true"></i> -->
              <!-- <i class="fa fa-inr" aria-hidden="true"></i>&nbsp; -->
            </p>
          </td>
          <td class="table-quanity">
            <div class="quantity">
              <span>2</span>
            </div>
          </td>
          <td class="table-total">
            <p>
              <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{summary.grand_total}}
            </p>
          </td>
          <td class="table-savings">
            <p>
              <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;122.00
            </p>
            <span>
              You Save 14%
            </span>
          </td>
        </tr>
        <tr class="table-border">
          <td class="mrp-rate">
            <h5>Total MRP</h5>
          </td>
          <td></td>
          <td></td>
          <td class="table-total">
            <p>
              <i class="fa fa-inr" aria-hidden="true"></i>{{summary.grand_total}}</p>
          </td>
          <td class="table-savings">
            <p>
              <i class="fa fa-inr" aria-hidden="true"></i>127.00
            </p>
            <span> You Save 15%</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row promo-code-bar">
    <div class="col-lg-4 promo-code">
      <h5>Have Promo Code</h5>
    </div>
    <div class="col-lg-4 input-button">
      <form>
        <input type="text" class="form-control input-field" placeholder="PROMO CODE" (click)="postPromo()">
      </form>
    </div>
    <div class="col-lg-4 input-button">
      <button type="button" class="btn apply-btn">APPLY</button>
    </div>
    <div>
      <hr class="dash" />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 text-center">
      <h5>
        <strong>Total to Pay</strong>
      </h5>
    </div>
    <div class="col-lg-6 total-mrp">
      <p>
        <strong>
          <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;767.00</strong>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn next-btn" (click)="delAdd()">NEXT</button>
    </div>
  </div>
</div>


<!-- Delivery Address -->

<div class="container" *ngIf="deliveryA">
  <div class="row">
    <div class="col-lg-6">
      <h4>DELIVERY ADDRESS</h4>
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn adress-btn">ADD NEW ADDRESS</button>
    </div>
  </div>
  <div class="row address-bar">
    <div class="col-lg-3 home-address">
      <div class="office">
        <p>
          <strong>Home </strong>
        </p>
        <p>
          <strong>Michael Palmer</strong>
        </p>
        <div class="address-details">
          <p>552 Isaiah Villages</p>
          <p>BTM Layout</p>
          <p>Bengaluru 560029</p>
        </div>
      </div>
      <div class="row deliver-btn">
        <p>
          <strong>DELIVER HERE </strong>
        </p>
      </div>
    </div>
    <div class="col-lg-3 home-address">
      <div class="office">
        <p>
          <strong>Office </strong>
        </p>
        <p>
          <strong>Paul Simon</strong>
        </p>
        <div class="address-details">
          <p>393 Pauline Haven Apt. 482</p>
          <p>JP Nagar</p>
          <p>Bengaluru 560029</p>
        </div>
      </div>
      <div class="row deliver-btn2">
        <p>
          <strong>DELIVER HERE </strong>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn next-btn" (click)="delOpt()">NEXT</button>
    </div>
  </div>
</div>


<!-- Delivery Options -->

<div class="container" *ngIf="deliveryOp">
  <div class="row">
    <h4>DELIVERY OPTIONS</h4>
  </div>
  <div class="delivery-time">
    <div class="col-lg-12">
      <p>
        <strong>Select Delivery Time</strong>
      </p>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2"></div>
      <div class="col-lg-4">
        <span>Dates: 
          <select>
            <option *ngFor="let time of dateSlot">{{time.date}}</option>
          </select></span>
      </div>
      <div class="col-lg-4">
            <span>Times: 
              <select>
                <option *ngFor="let time of timeSlot">{{time.time}}</option>
            </select></span>
      </div>
      <!-- <div class="col-lg-2 edit-time">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </div> -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn next-btn" (click)="paymentMethod()">NEXT</button>
    </div>
  </div>
</div>
<div class="container" *ngIf="paymentM">
  <div>
    <h4>PAYMENT METHOD</h4>
  </div>
  <div class="payment-method">
    <h5>Choose Payment Method</h5>
    <div class="row wallet">
      <div class="col-lg-6">
        <img src="assets/images/wallet.png" class="image"> &nbsp; &nbsp;
        <span>Wallet</span>
      </div>
      <div class="col-lg-4 offer-zone">
        <span>2 Offers</span>
      </div>
      <div class="col-lg-2 right-arrow">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
    <div class="row wallet">
      <div class="col-lg-6 credit-card">
        <i class="fa fa-credit-card" aria-hidden="true"></i> &nbsp; &nbsp;
        <span>
          <strong>Debit / Credit Card</strong>
        </span>
      </div>
      <div class="col-lg-6 right-arrow">
        <i class="fa fa-angle-right " aria-hidden="true"></i>
      </div>
    </div>
    <div class="row wallet">
      <div class="col-lg-6">
        <img src="assets/images/rupee.png" class="image"> &nbsp; &nbsp;
        <span>Net Banking</span>
      </div>
      <div class="col-lg-6 right-arrow">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
    <div class="row  wallet-card">
      <div class="col-lg-6">
        <img src="assets/images/money.png" class="image"> &nbsp; &nbsp;
        <span>
            <strong>
                   Cash On Delivery
            </strong> 
        </span>
      </div>
      <div class="col-lg-6 right-arrow">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
      <button type="button" class="btn pay-btn" (click)="cartCheckout()">PROCEED AND PAY</button>
    </div>
  </div>
</div>
