<app-headercart></app-headercart>
<div class="container deals_section">
  <h3 class="text-center"> <strong>Contact Us</strong></h3>
  <!-- <p>Thanks for supporting Yesspree </p> -->
  <div class="row">
    <div class="col-md-4 mt-3">
      <div class="deals address">
        <h4>Address </h4>
        <p>Yespree</p>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="deals mail">
        <h4>Mail us</h4>
        <p>{{contactData?.customercare_email}}</p>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="deals contact">
        <h4>Contact Number</h4>
        <p>{{contactData?.customercare_mobile}}</p>
      </div>
    </div>
  </div>
</div>
<br /> <br />
