<div *ngIf="shownodata">
  <h3 class="text-center">NO Data Found</h3>
</div>

<div class="container-fluid products" *ngIf="!shownodata">

  <div class="row">
    <div class="col-md-3">
      <h5>{{subName}}</h5>
      <br />
      <div class="categories" *ngFor="let cat of subcatdata;let i = index">
        <p [ngClass]="{'active':showCategories}">
          <a>
            <i class="fa fa-plus" aria-hidden="true" *ngIf="!showCategories" (click)="showsubSubCat(i,cat._id)"></i>
            <i class="fa fa-minus" aria-hidden="true" *ngIf="showCategories && i==selectedCat" (click)="closesubSubCat()"></i>
          </a> &nbsp;&nbsp;<span (click)="showCateProd(cat._id,cat.name)">{{cat.name}}</span>
        </p>
        <!-- categories -->
        <div *ngFor="let subcat of subSubCatData;let ii = index">
          <p *ngIf="selectedCat==i && showCategories" [ngClass]="{'active':showSubCategories}">
            <a>
              <i class="fa fa-plus" aria-hidden="true" *ngIf="!showSubCategories" (click)="showLastCat(ii,subcat._id)"></i>
              <i class="fa fa-minus" aria-hidden="true" *ngIf="showSubCategories" (click)="closeLastCat()"></i>
            </a> &nbsp;&nbsp;
            <span (click)="getSubcatProd(subcat._id,subcat.name)">{{subcat.name}}</span>
          </p>
          <!-- //sub categories -->
          <div *ngFor="let lastcat of lastCatData">
            <p *ngIf="selectedLastCat==i && showSubCategories" (click)="getLastProd(lastcat._id,lastcat.name)">
              <span class="subCat">{{lastcat.name}}</span>
            </p>
          </div>
          <!-- end sub cat -->
        </div>
      </div>

    </div>
    <div class="col-md-9 items" *ngIf="!showDetails">
      <div id="carousel-example-2" class="carousel slide carousel-fade mt-3" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators banner-indicators">
          <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-2" data-slide-to="1"></li>
          <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <!-- <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="view">
              <img class="d-block w-100" src="assets/images/atta.jpg" alt="First slide">
              <div class="mask "></div>
            </div>
            <div class="carousel-caption banner-text">
              <h3 class="h3-responsive">MULTIGRAIN ATTA</h3>
              <p>RICH SOURCE OF ESSENTIAL VITAMINS</p>
            </div>
          </div>
          <div class="carousel-item">
           
            <div class="view">
              <img class="d-block w-100" src="assets/images/atta.jpg" alt="Second slide">
              <div class="mask"></div>
            </div>
            <div class="carousel-caption banner-text">
              <h3 class="h3-responsive">MULTIGRAIN ATTA</h3>
              <p>RICH SOURCE OF ESSENTIAL VITAMINS</p>
            </div>
          </div>
          <div class="carousel-item">
          
            <div class="view">
              <img class="d-block w-100" src="assets/images/atta.jpg" alt="Third slide">
              <div class="mask "></div>
            </div>
            <div class="carousel-caption banner-text">
              <h3 class="h3-responsive">MULTIGRAIN ATTA</h3>
              <p>RICH SOURCE OF ESSENTIAL VITAMINS</p>
            </div>
          </div>
        </div> -->
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
      </div>
      <br />
      <!-- <div class="row trending">
        <div class="col-md-3">
          <h4>TRENDING
            <br /> UPTO 60%</h4>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-3">
              <img class="img-fluid prod_img" src="assets/images/product1.png" alt="Aashirvad">
            </div>
            <div class="col-md-3">
              <img class="img-fluid prod_img" src="assets/images/product1.png" alt="Aashirvad">
            </div>
            <div class="col-md-3">
              <img class="img-fluid prod_img" src="assets/images/product1.png" alt="Aashirvad">
            </div>
            <div class="col-md-3">
              <img class="img-fluid prod_img" src="assets/images/product1.png" alt="Aashirvad">
            </div>
          </div>
        </div>
      </div> -->
      <br />
      <!-- <div class="row bestprices">
        <div class="col-md-3">
          <H4>BEST PRICES
            <br /> UPTO 80%</H4>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-3">
              <img class="img-fluid prod_img" src="assets/images/Annapurna.png" alt="Aashirvad">
            </div>

            <div class="col-md-3">
              <img class="img-fluid prod_img" src="assets/images/Annapurna.png" alt="Aashirvad">
            </div>

            <div class="col-md-3">
              <img class="img-fluid prod_img" src="assets/images/Annapurna.png" alt="Aashirvad">
            </div>
            <div class="col-md-3">
              <img class="img-fluid prod_img" src="assets/images/Annapurna.png" alt="Aashirvad">
            </div>
          </div>
        </div>
      </div> -->


      <p>
        <a routerLink="/">Home</a>&nbsp;&nbsp;>&nbsp;
        <span *ngIf="showCat">
          {{catName}}&nbsp;&nbsp;>&nbsp;
        </span>
        <span *ngIf="showsubcat">
          {{subcatName}}&nbsp;&nbsp;>&nbsp;
        </span>
        <span *ngIf="showlastcat">
          {{lastcatName}}
        </span>

      </p>
      <br />
      <br />
      <h6>{{subName}}
        <span>
          <button type="button" data-toggle="modal" data-target="#refineby" (click)="filterData()">
            Refine By
          </button>
          <select (change)="changeSort(idforrefine,$event.target.value)">
            <option *ngFor="let data of sortData" value="{{data.name}}">{{data.name}}
            </option>

          </select>
        </span>
      </h6>
      <br />
      <div class="row cust-response">
        <div class="col-md-6 col-lg-3 col-xs-12 item" *ngFor="let sku of skudata;let i = index">
          <div>
            <div class="card">
              <a (click)="wish(sku.id_product)">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </a>
              <img class="img-fluid product-img" [src]="sku.image" alt="Card image cap" (click)="showProductDetails(sku)">
              <!-- <img class="img-fluid valuepack" src="assets/images/valuePack.jpg" alt="Card image cap"> -->
              <div class="card-block">
                <h5>{{sku.productName}} </h5>
                <p>{{sku.size}}</p>
                <div class="row  item-price">
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <span class="price">
                      <i class="fa fa-rupee" aria-hidden="true"></i>
                      {{sku.selling_price}}</span>
                    <strike *ngIf="sku.mrp!==undefined">
                      <i class="fa fa-rupee" aria-hidden="true"></i>
                      {{sku.mrp}}
                    </strike>
                  </div>
                  <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12" *ngIf="sku.mrp!==undefined">
                    <span class="saveMney">you save {{sku.percentage}} %</span>
                  </div>
                </div>
                <br />
                <div class="row prdct-length">
                  <div class="col-md-4">
                    <span *ngIf="showInput && i == selected" (click)="itemDecrease(sku.id_product,sku._id,i)">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="col-md-4 quantity">
                    <span class="add text-center" *ngIf="showInput && selected!==i" (click)="getCart(items.quantity,sku.id_product,sku._id)">Add</span>
                    <span *ngIf="showInput && i == selected">{{items.quantity}}</span>
                  </div>
                  <div class="col-md-4">
                    <span class="plus" (click)="itemIncrease(sku,sku.size,sku.productName,sku.id_product,sku._id,i)">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-xs-12 item" *ngIf="products.length==0">
          <p class="text-center">No Data Available</p>
        </div>
      </div>
    </div>



    <div class="col-md-9 items productDetails" *ngIf="showDetails">
      <p>
        <a routerLink="/">Home</a>&nbsp;&nbsp;>&nbsp;
        <a>{{product[0].category}}</a>
      </p>
      <br />
      <div class="row">
        <div class="col-md-3 itemdetails">
          <img _ngcontent-c5="" class="img-fluid prod_img" src="{{firstPic}}">
        </div>
        <div class="col-md-9 itemdetails" *ngFor="let item of product">
          <div *ngFor="let sku of item.sku">
            <h5>{{item.name}}</h5>
            <p> More by
              <strong> {{item.name}}</strong>
            </p>
            <p class="item_details_save"> You Save {{sku.percentage}}%</p>
            <p>
              <strong>Price</strong>
              <span class="item_details_price">: {{sku.selling_price}} </span>
            </p>
            <p>
              <strong>Deducted</strong>
              <span class="item_details_deduct">: Rs.{{sku.mrp-sku.selling_price}} </span>
            </p>
            <p> Available in </p>
            <p>
              <span class="item_details_quantity" (click)="skusize(sku.size)" [ngClass]="{'activedeails': selectedskusize == sku.size}">{{sku.size}}</span>
            </p>

            <p>
              <button type="button" class="btn btn-black">ADD TO WISHLIST</button>
              <button type="button" [ngClass]="{'btn btn-black':!showSubscriptionData,'btn-border':showSubscriptionData}"
                (click)="showSubscribeDetails()">SUBSCRIBE</button>

              <button type="button" class="btn btn-yellow dec" (click)="itemDecrease(item._id,sku._id,i)">-</button>
              <button type="button" class="btn btn-yellow qty">{{items.quantity}}</button>
              <button type="button" class="btn btn-yellow add" (click)="itemIncrease(item,item.name,item._id,sku._id,i)">+</button>
            </p>
            <br />
            <div class="cust-subscribe" *ngIf="showSubscriptionData">
              <div class="row">
                <div class="col-lg-12">
                  <p>Choose Days</p>
                  <ul class="chs-days">
                    <li (click)="subscribe('Mon')" [ngClass]="{'activedeails':weak=='Mon'}">Mon</li>
                    <li (click)="subscribe('Tue')" [ngClass]="{'activedeails':weak=='Tue'}">Tue</li>
                    <li (click)="subscribe('Wed')" [ngClass]="{'activedeails':weak=='Wed'}">Wed</li>
                    <li (click)="subscribe('Thu')" [ngClass]="{'activedeails':weak=='Thu'}">Thu</li>
                    <li (click)="subscribe('Fri')" [ngClass]="{'activedeails':weak=='Fri'}">Fri</li>
                    <li (click)="subscribe('Sat')" [ngClass]="{'activedeails':weak=='Sat'}">Sat</li>
                    <li (click)="subscribe('Sun')" [ngClass]="{'activedeails':weak=='Sun'}">Sun</li>
                  </ul>
                </div>
              </div>
              <!-- <input type=text [(ngModel)]="data">
        <input type=text [(ngModel)]="email" name="mail">
        <button (click)="submit()">Submit</button> -->
              <div class="row forms-checks">
                <!-- <div class="col-lg-12 evry-day">
        
        <input type="checkbox" name="vehicle1" value="Bike"> Every Day
        <p>
        <input type="checkbox" name="vehicle1" value="Bike"> Alternate days</p>
        <p>
        <input type="checkbox" name="vehicle1" value="Bike"> Once a week</p>
        </div> -->
                <div class="col-lg-12">
                  <ul class="title-list">
                    <li class="prefixData" *ngFor="let cat of categories">
                      <a (click)="checkPrefix(cat.name)"><i class="fa fa-check prefix" aria-hidden="true" [ngClass]="{'activemrPrefix':prefix===cat.name}"></i>
                        {{cat.name}}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <button class="btn btn-black subs" (click)="subscribeData(item._id,sku._id)">Subscribe</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>
        <b>Prodct Details</b>
      </p>
      <p> Lorem ipsum text dummy text Lorem ipsum text dummy text Lorem ipsum text dummy text Lorem ipsum
        text dummy
        text Lorem
        ipsum text dummy text Lorem ipsum text dummy text Lorem ipsum text dummy text Lorem ipsum text
        dummy text Lorem
        ipsum
        text dummy text Lorem ipsum text dummy text Lorem ipsum text dummy text Lorem ipsum text dummy text
      </p>
      <p>
        <b>Key Features</b>
      </p>
      <p> Made with superior quality wheat</p>
      <p> Made with superior quality wheat</p>
      <p> Made with superior quality wheat</p>
      <p> Made with superior quality wheat</p>
      <h3>Similar Products</h3>
      <div class="products">
        <div class="row items">
          <div class="col-md-3 item" *ngFor="let sku of skuspecificdata; let i = index">
            <div class="card">
              <div>
                <a (click)="wish(sku.id_product)">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </a>
                <img class="img-fluid product-img" [src]="sku.image" alt="Card image cap" (click)="showProductDetails(sku)">
                <!-- <img class="img-fluid valuepack" src="assets/images/valuePack.jpg" alt="Card image cap"> -->
                <div class="card-block">
                  <h5>{{sku.productName}} </h5>
                  <p>{{sku.size}}</p>
                  <div class="row item-price">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                      <span class="price">
                        <i class="fa fa-rupee" aria-hidden="true"></i>
                        {{sku.selling_price}}</span>
                      <strike *ngIf="sku.mrp!==undefined">
                        <i class="fa fa-rupee" aria-hidden="true"></i>
                        {{sku.mrp}}</strike>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="sku.mrp!==undefined">
                      <span class="saveMney">you save {{sku.percentage}}%</span>
                    </div>
                  </div>
                  <br />
                  <div class="row prdct-length">
                    <div class="col-md-4">
                      <span *ngIf="showInputs && i == selected" (click)="itemDecrease(sku.id_product,sku._id,i)">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                      </span>
                    </div>
                    <div class="col-md-4 quantity">
                      <span class="add text-center" *ngIf="showInputs && selected!==i" (click)="getCart(items.quantity,sku.id_product,sku._id)">Add</span>
                      <span *ngIf="showInputs && i == selected">{{items.quantity}}</span>
                    </div>
                    <div class="col-md-4">
                      <span class="plus" (click)="itemIncrease(sku,sku.size,sku.productName,sku.id_product,sku._id,i)">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- like products -->
      <h3>You may also like</h3>
      <div class="products">
        <div class="row items">
          <div class="col-md-3 item" *ngFor="let sku of skulikedata; let i = index">
            <div class="card">
              <div>
                <a (click)="wish(sku.id_product)">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </a>
                <img class="img-fluid product-img" [src]="sku.image" alt="Card image cap" (click)="showProductDetails(sku)">
                <!-- <img class="img-fluid valuepack" src="assets/images/valuePack.jpg" alt="Card image cap"> -->
                <div class="card-block">
                  <h5>{{sku.productName}} </h5>
                  <p>{{sku.size}}</p>
                  <div class="row item-price">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                      <span class="price">
                        <i class="fa fa-rupee" aria-hidden="true"></i>
                        {{sku.selling_price}}</span>
                      <strike *ngIf="sku.mrp!==undefined">
                        <i class="fa fa-rupee" aria-hidden="true"></i>
                        {{sku.mrp}}</strike>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12" *ngIf="sku.mrp!==undefined">
                      <span class="saveMney">you save {{sku.percentage}}%</span>
                    </div>
                  </div>
                  <br />
                  <div class="row prdct-length">
                    <div class="col-md-4">
                      <span *ngIf="showInputs && i == selected" (click)="itemDecrease(sku.id_product,sku._id,i)">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                      </span>
                    </div>
                    <div class="col-md-4 quantity">
                      <span class="add text-center" *ngIf="showInputs && selected!==i" (click)="getCart(items.quantity,sku.id_product,sku._id)">Add</span>
                      <span *ngIf="showInputs && i == selected">{{items.quantity}}</span>
                    </div>
                    <div class="col-md-4">
                      <span class="plus" (click)="itemIncrease(sku,sku.size,sku.productName,sku.id_product,sku._id,i)">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>



  </div>
</div>

<!-- Modal -->
<div class="modal fade right" id="refineby" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-side modal-top-right" role="document">
    <div class="modal-content cust-mheader">
      <div class="modal-header m-header">
        <h5 class="modal-title" id="exampleModalLabel" (click)="clearData()">Refine by</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <h5>120 Products Available</h5> -->

        <div class="row">
          <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                aria-controls="v-pills-home" aria-selected="true">Brand</a>
              <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                aria-controls="v-pills-profile" aria-selected="false">Price</a>
              <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                aria-controls="v-pills-messages" aria-selected="false">Offer</a>

            </div>
          </div>
          <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="container">
                  <div class="table-responsive">
                    <table class="table table-condensed">
                      <tbody *ngFor="let item of brands">
                        <tr>
                          <td>{{item.name}}</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" value="{{item.value}}" id="{{item.name}}"
                                name="selected" [(ngModel)]="item.selected" (change)="checkBrands(item.value)">
                              <label class="form-check-label popup-label" [(ngModel)]="item.selected" for="{{item.name}}"></label>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="container">
                  <div class="table-responsive">
                    <table class="table table-condensed">
                      <tbody *ngFor="let price of prices">
                        <tr>
                          <td>{{price.name}}</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" value="{{price.value}}" id="{{price.name}}"
                                name="selected" [(ngModel)]="price.selected" (change)="checkPrice(price.value)">
                              <label class="form-check-label popup-label" [(ngModel)]="price.selected" for="{{price.name}}"></label>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <div class="container">
                  <div class="table-responsive">
                    <table class="table table-condensed">
                      <tbody *ngFor="let offer of offers">
                        <tr>
                          <td>{{offer.name}}</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" value="{{offer.value}}" id="{{offer.name}}"
                                name="selected" [(ngModel)]="offer.selected" (change)="checkOffers(offer.value)">
                              <label class="form-check-label popup-label" [(ngModel)]="offer.selected" for="{{offer.name}}"></label>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer cust-modalfooter">
        <input class="btn refinbtn1" type="reset" value="CLEAR ALL" flex-start>
        <input class="btn refinbtn" type="submit" value="DONE" data-dismiss="modal" (click)="filter(idforrefine,'')">
      </div>
    </div>
  </div>
</div>