<div class="cat-div">
  <div class="main-menu">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light ">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/images/logo.png" alt="logo" class="img-fluid">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  menu-list" id="navbarSupportedContent">
        <div class="container navbar-nav pt-3">
          <div class="input-group  search-menu mb-3">
            <div class="input-group-prepend dropdown-append">
              <img class="map-pointer img-fluid" src="assets/images/ic_location_copy.png">
              <select class="form-control location" id="exampleFormControlSelect1" (change)="header.changeVillageName($event.target.value,village)">
                <option selected *ngFor="let villageName of header.village" value="{{villageName.pincode}}">{{villageName.pincode}}</option>
              </select>
            </div>
            <!-- <form class="example" action="/action_page.php">
              <input type="text" placeholder="" name="search" [(ngModel)]="search">
              <button type="submit" (click)="searchProducts(search)">Search</button>
            </form> -->
            <form class="example">
              <mat-form-field>
                <input type="text" aria-label="Number" matInput [formControl]="header.myControl" [matAutocomplete]="auto"
                  (keyup)="header.updated()" [(ngModel)]="data">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of header.options" [value]="option.name">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
                <button type="submit" (click)="header.searchProducts(search)">Search</button>
              </mat-form-field>
            </form>

          </div>
        </div>
        <form class="form-inline my-2 my-lg-0 cart-btn">

          <button *ngIf="cartCount=='0'" class="btn  my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#cust_mycart1"
            (click)="getHeadCart()">

            <i class="fas fa-shopping-cart"></i> My Cart
            ( {{cartCount}} )
          </button>


          <button *ngIf="cartCount!=='0'" class="btn  my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#cust_mycart1"
            (click)="getHeadCart()">

            <i class="fas fa-shopping-cart"></i>
            <span class="home-cart"> {{cartCount}} </span> <i class="fa fa-inr" aria-hidden="true"></i>
            {{grandTotal}}
          </button>
        </form>
      </div>
    </nav>
  </div>


  <div ng2-carouselamos class="slides-wrapper" [items]="categoryData" [width]="1400" [$prev]="prev" [$next]="next"
    [$item]="item">
  </div>


  <ng-template #prev>
    <img src="assets/images/ic_category_left_arrow.png" id="left" class="arr-lft img-fluid" />
  </ng-template>
  <ng-template #next>
    <img src="assets/images/ic_category_right_arrow.png" id="right" class="arr-rht img-fluid" />
  </ng-template>
  <ng-template #item let-item let-i="index">

    <div class="proitems">
      <img src="{{ url + item.pic }}" (click)="header.showSubcategorie(item._id,item.name,i)">
      <p>{{item.name | limitTo : 20}}</p>
    </div>
  </ng-template>
  <br />

  <hr class="horizantal">

</div>

<div class="modal fade right" id="cust_mycart1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-side modal-top-right" role="document">
    <div class="modal-content cust-mheader">
      <div class="modal-header mcart">
        <h5 class="modal-title" id="exampleModalLabel">My cart ( {{header.mycart.length}} items)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <div class="t-mrp">
              <h6>Total MRP</h6>
              <p>Your Total Savings </p>
            </div>
          </div>
          <div class="col-4">
            <div class="rup">
              <p>
                <strong>
                  <i class="fa fa-inr" aria-hidden="true"></i>{{header.mrp}}</strong>
              </p>
              <p class="green-text">
                <i class="fa fa-inr" aria-hidden="true"></i> {{header.savedMoney}} ( {{header.grandPer}} % )</p>
            </div>
          </div>
        </div>
        <hr class="dtd-line">
        <div class="row">
          <div class="col-8">
            <div class="totalpay">
              <p>
                <strong>Total to Pay</strong>
              </p>
              <h6>(Inclusive all taxes)</h6>
            </div>
          </div>
          <div class="col-4">
            <div class="rup">
              <p>
                <strong>
                  <i class="fa fa-inr" aria-hidden="true"></i>{{header.grandTotal}}</strong>
              </p>
            </div>
          </div>
        </div>

        <div class="row  bac-shadw" *ngFor="let cartItems of header.mycart;let i = index">
          <div class="col-lg-3">
            <div class="ashirvadimg">
              <img [src]="url + cartItems.image" alt="ashirvad" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-9">
            <div class="atta">

              <p>
                <strong>{{cartItems.name | limitTo : 20}}</strong>
              </p>
              <div class="row" *ngFor="let sku of cartItems.sku">
                <div class="col-md-3">
                  <span class="sk-size">{{sku.size}}</span>
                </div>
                <div class="col-md-2">
                  <p class="green-text">
                    <i class="fa fa-inr" aria-hidden="true">{{cartItems.selling_price}}</i>
                  </p>

                </div>
                <div class="col-md-2" *ngIf="sku.mrp!==undefined">
                  <p class="red-text">
                    <i class=" fa fa-inr" aria-hidden="true">
                      <strike>{{cartItems.mrp}}</strike>
                    </i>
                  </p>

                </div>
                <div class="col-md-5" *ngIf="sku.mrp!==undefined">
                  <p class="save">You Save {{sku.percentage}}%</p>
                </div>
              </div>

              <div class="row sizes" *ngFor="let sku of cartItems.sku">
                <div class="col-md-4">
                  <!-- <button class="btn btn-success subscribe" data-dismiss="modal" (click)="headerSubscribe(cartItems.id_product,cartItems.name)">Subscribe</button> -->
                </div>
                <div class="col-md-8">
                  <div class="quantity buttons_added product-added nav-cart">
                    <input type="button" value="-" class="minus" (click)="itemHeaderDecrease(header.mycart,cartItems.name,cartItems.id_product,sku._id,i,sku.mycart)">

                    <input type="number" step="1" min="1" max="" name="quantity" value="{{sku.mycart}}" title="Qty"
                      class="input-text qty text product-input-quantity" size="4" pattern="" inputmode="" disabled>
                    <input type="button" value="+" class="plus" (click)="itemHeaderIncrease(header.mycart,cartItems.name,cartItems.id_product,sku._id,i,sku.mycart)">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer cust-modalfooter">
        <input class="btn btn-primary" type="reset" value="CHECKOUT" routerLink="/mycart" data-dismiss="modal">
      </div>
    </div>
  </div>
</div>


<div class="container deals_section" *ngIf="!showbrands">
  <h3>
    {{title}}
    <!-- <span class="viewAll" (click)="viewProducts('recProducts1')">View All</span> -->
  </h3>
  <br />
  <div class="products">
    <div class="row items">

      <div class="col-md-3 item" *ngFor="let sku of skudata;let i =index">
        <div>
          <div class="card" (click)="showProduxtDetails()">
            <a (click)="wish(sku._id)">
              <i class="fa fa-heart" [ngStyle]="{'color':sku.wishlist===1?'#fff212
              ':''}" aria-hidden="true"></i>
            </a>
            <div class="pro-image">
              <img class="img-fluid product-img" [src]="sku.image" alt="Card image cap" (click)="showProductDetails(sku.id_product)">
            </div>
            <!-- <img class="img-fluid valuepack" src="assets/images/valuePack.jpg" alt="Card image cap"> -->
            <div class="card-block">
              <h5>{{sku.productName | limitTo : 20}} </h5>
              <p>{{sku.size}}</p>
              <div class="row  item-price">
                <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12">
                  <span class="price">
                    <i class="fa fa-rupee" aria-hidden="true"></i>
                    {{sku.selling_price}}</span>
                  <strike *ngIf="sku.mrp!==undefined">
                    <i class="fa fa-rupee" aria-hidden="true"></i>
                    {{sku.mrp}}
                  </strike>
                </div>
                <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12" *ngIf="sku.mrp!==undefined">
                  <span class="saveMney">You Save {{sku.percentage}} %</span>
                </div>
              </div>
            </div>
            <br />
            <div class="row prdct-length">
              <div class="quantity buttons_added product-added" [ngClass]="{'quantity-beforeadd ':showInput && selected!==i}">
                <input *ngIf="(showInput && i == selected) || sku.mycart!=='0'" type="button" value="-" class="minus"
                  (click)="itemDecrease(sku,sku.id_product,sku._id,i,sku.productName)">
                <span class="add-home text-center" *ngIf="((showInput && selected!==i) && sku.mycart=='0')" (click)="getCart(sku.mycart,sku.id_product,sku._id)">Add</span>

                <input *ngIf="(showInput && i == selected) ||  sku.mycart!=='0'" type="number" step="1" min="1" max=""
                  name="quantity" value="{{sku.mycart}}" title="Qty" class="input-text qty text product-input-quantity"
                  size="4" pattern="" inputmode="" disabled>

                <input type="button" value="+" class="plus" (click)="itemIncrease(sku,sku.size,sku.productName,sku.id_product,sku._id,i)">
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <h3 class="text-center nodata" *ngIf="products.length==0 && !showbrands">No Data Found</h3>
      </div>

    </div>
  </div>
</div>


<div class="container deals_section brands" *ngIf="showbrands">
  <h3 class="text-center"><strong>{{title}}</strong></h3>
  <div class="row">
    <div class="col-md-3 mt-3" *ngFor="let item of brands">
      <div class="deals view zoom">
        <img [src]="url + item.pic" class="img-fluid headShake " alt="{{item.brand}}">
        <h5>{{item.brand_en}}</h5>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade right" id="refineby" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-side modal-top-right" role="document">
    <div class="modal-content cust-mheader">
      <div class="modal-header m-header">
        <h5 class="modal-title" id="exampleModalLabel">Refine by</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <h5>120 Products Available</h5> -->

        <div class="row">
          <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                aria-controls="v-pills-home" aria-selected="true">Brand</a>
              <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                aria-controls="v-pills-profile" aria-selected="false">Price</a>
              <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                aria-controls="v-pills-messages" aria-selected="false">Offer</a>

            </div>
          </div>
          <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="container">
                  <div class="table-responsive">
                    <table class="table table-condensed">

                      <tbody>
                        <tr>
                          <td>Brand 1</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              <label class="form-check-label popup-label" for="defaultCheck1"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Brand 2</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="gridCheck1">
                              <label class="form-check-label popup-label" for="gridCheck1">
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Brand 3</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="brand3">
                              <label class="form-check-label popup-label" for="brand3">
                              </label>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>Brand 4</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="brand4">
                              <label class="form-check-label popup-label" for="brand4">
                              </label>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>Brand 5</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="brand5">
                              <label class="form-check-label popup-label" for="brand5">
                              </label>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>Brand 6</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="brand6">
                              <label class="form-check-label popup-label" for="brand6">
                              </label>
                            </div>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="container">
                  <div class="table-responsive">
                    <table class="table table-condensed">

                      <tbody>
                        <tr>
                          <td>Less than 25 Rs</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="price1">
                              <label class="form-check-label popup-label" for="price1"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>25 Rs to 50 Rs</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="price2">
                              <label class="form-check-label popup-label" for="price2">
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>50 Rs to 100 Rs</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="price3">
                              <label class="form-check-label popup-label" for="price3">
                              </label>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>100 Rs to 150 Rs</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="price4">
                              <label class="form-check-label popup-label" for="price4">
                              </label>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>150 Rs to 200 Rs</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="price5">
                              <label class="form-check-label popup-label" for="price5">
                              </label>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>200 Rs to 300 Rs</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="price6">
                              <label class="form-check-label popup-label" for="price6">
                              </label>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>300 Rs to 400 Rs</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="price7">
                              <label class="form-check-label popup-label" for="price7">
                              </label>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>400 Rs to 500 Rs</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="price8">
                              <label class="form-check-label popup-label" for="price8">
                              </label>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>500 Rs to 700 Rs</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="price9">
                              <label class="form-check-label popup-label" for="price9">
                              </label>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>700 Rs to 1000 Rs</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="price10">
                              <label class="form-check-label popup-label" for="price10">
                              </label>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>More than 1000 Rs</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="price11">
                              <label class="form-check-label popup-label" for="price11">
                              </label>
                            </div>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <div class="container">
                  <div class="table-responsive">
                    <table class="table table-condensed">

                      <tbody>
                        <tr>
                          <td>Up to 5%</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="offer1">
                              <label class="form-check-label popup-label" for="offer1"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>5% to 10%</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="offer2">
                              <label class="form-check-label popup-label" for="offer2">
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>10% to 15%</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="offer3">
                              <label class="form-check-label popup-label" for="offer3">
                              </label>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>15% to 25%</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="offer4">
                              <label class="form-check-label popup-label" for="offer4">
                              </label>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>25% to 50%</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="offer5">
                              <label class="form-check-label popup-label" for="offer5">
                              </label>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>More than 50%</td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="offer6">
                              <label class="form-check-label popup-label" for="offer6">
                              </label>
                            </div>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer cust-modalfooter">
        <input class="btn refinbtn1" type="reset" value="CLEAR ALL" flex-start>
        <input class="btn refinbtn" type="submit" value="DONE" data-dismiss="modal">
      </div>
    </div>
  </div>
</div>
