<div class="container-fluid top-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <ul>
          <li *ngIf="showProfile">
            <img src="assets/images/phone.png" alt="phone"> {{userMobile}}
          </li>
          <li *ngIf="showLogin">
            <a (click)="openSingin()">
              <img src="assets/images/ic_sign_in.png" alt="sign in">Sign In
            </a>
          </li>
          <li *ngIf="showLogin">
            <a (click)="openRegistration()">
              <img src="assets/images/ic_sign_up.png" alt="sign out">Sign Up
            </a>
          </li>
          <li>
            <div class="dropdown show" *ngIf="showProfile">

              <img src="assets/images/user-login.png" class="user-image" alt="sign in">
              <a class=" dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{userName}}
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" routerLink="/myaccount">
                  <!-- <i class="fa fa-user-o"></i>&nbsp;</a> -->
                  <img src="assets/images/ic_my_account.png" alt="logo"> My Account</a>
                <a class="dropdown-item" routerLink="deliveryaddress">
                  <img src="assets/images/ic_my_addresses.png" alt="logo"> My Addresses</a>
                <a class="dropdown-item" routerLink="ordersfirst">
                  <img src="assets/images/ic_my_orders.png" alt="logo"> My Orders</a>
                <a class="dropdown-item" routerLink="/myAccountcart">
                  <img src="assets/images/ic_my_cart.png" alt="logo">
                  My Cart
                </a>
                <a class="dropdown-item" routerLink="/mysubscription">
                  <img src="assets/images/ic_my_subscriptions.png" alt="logo">&nbsp; My Subscriptions</a>
                <a class="dropdown-item" routerLink="/myoffers">
                  <img src="assets/images/ic_offers.png" alt="logo">&nbsp; Offers
                </a>
                <a class="dropdown-item" routerLink="/myrateus">
                  <img src="assets/images/ic_rate_us.png" alt="logo">&nbsp; Rate Us</a>
                <a class="dropdown-item" routerLink="/share">
                  <img src="assets/images/ic_share.png" alt="logo">&nbsp; Share</a>
                <a class="dropdown-item" routerLink="/mynotifiactions">
                  <img src="assets/images/ic_notifications.png" alt="logo">
                  &nbsp; Notifications</a>
                <a class="dropdown-item" routerLink="/wishlist">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                  &nbsp; WishList</a>
                <!-- <a class="dropdown-item" routerLink="/coupon">
                  <i class="fa fa-trophy" aria-hidden="true"></i>
                  &nbsp; Coupons</a> -->
                <a class="dropdown-item" (click)="logout()">
                  <img src="assets/images/ic_logout.png" alt="logo">
                  &nbsp; Logout</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br />

<!-- main menu -->
<!-- popups -->
<div class="container">
  <!-- The Modal -->
  <div *ngIf="showModal">
    <div class="row">
      <div class="login-popup ">
        <!-- login & registration -->

        <!-- login-tab -->
        <div class="container modal-box login-tab" *ngIf="showSignin">
          <div class="row">
            <div class="col-md-6">
              <div class="col-lg-2 p-0 ">
                <button class="btn button cross-btn" (click)="onCloseCancel()">
                  x
                </button>
              </div>
              <div class="col-lg-10">
                <h6 class="text-center login">SIGN IN</h6>

              </div>
              <form class="login-form">
                <div class="row justify-content-md-center">
                  <div class="form-group col-md-8">
                    <input type="text" class="form-control input-field" aria-describedby="emailHelp" [(ngModel)]="formData.email"
                      placeholder="Email Id/Mobile Number" name="email" required>
                  </div>
                  <div class="form-group col-md-8">
                    <input type="password" class="form-control input-field" placeholder="Password" [(ngModel)]="formData.password"
                      name="password" required>
                  </div>
                  <div class="form-group col-md-8">
                    <button type="submit" class="btn  submit-button" (click)="login()"><strong>Sign In</strong></button>
                  </div>
                  <div class="col-md-8 text-center">
                    <a (click)="openForgotpassword()" class="forgot">Forgot Password?</a>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="hr-sect">
                    <span>OR</span>
                  </div>
                </div>
                <div class="row text-center social-login justify-content-md-center">
                  <div class="col-lg-8 mb-3">
                    <button type="submit" class="btn  submit-button google" (click)="signInWithGoogle()">
                      <i class="fab fa-google"></i> SIGN IN WITH GOOGLE</button>
                  </div>
                  <div class="col-lg-8">
                    <button type="submit" class="btn  submit-button facebook" (click)="signInWithFacebook()">
                      <i class="fab fa-facebook"></i> SIGN IN WITH FACEBOOK</button>
                  </div>
                </div>
              </form>
              <div class="row account">
                <p>You Don't have an account?
                  <strong><a (click)="openRegistration()">Sign Up</a></strong>
                </p>
              </div>



            </div>
            <div class="col-md-6 background-image">
              <div class="row  align-items-center">
                <div class="col-md-12 text-center popup-logo">
                  <img src="assets/images/logo.png" alt="logo">
                </div>
              </div>
              <p class="download-stmt">Download our App. Enjoy Your Shoppings</p>
              <div class="row apps">

                <div class="col-md-6">
                  <img src="assets/images/google-play.png" class="text-center img-fluid play">
                </div>
                <div class="col-md-6">
                  <img src="assets/images/app-store.png" class="text-center img-fluid app">
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- login-tab -->
        <!-- registration tab -->
        <div class="container login-tab modal-box" *ngIf="showRegistration">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-lg-2 p-0 signup" (click)="onCloseCancel()">
                  <button class="btn button cross-btn">
                    x
                  </button>

                </div>
                <div class="col-lg-10 p-0 signup">
                  <h6 class="text-center signIn">SIGN UP</h6>
                </div>
              </div>

              <form class="login-form">
                <ul class="title-list">
                  <li class="prefixData">
                    <a (click)="checkPrefix('mr')"><i class="fa fa-check prefix" aria-hidden="true" [ngClass]="{'activemrPrefix':prefix==='mr'}"></i>
                      Mr.</a>
                  </li>
                  <li class="prefixData">
                    <a (click)="checkPrefix('mrs')"><i class="fa fa-check prefix" aria-hidden="true" [ngClass]="{'activemrsPrefix':prefix==='mrs'}"></i>
                      Mrs.</a>
                  </li>
                  <li class="prefixData">
                    <a (click)="checkPrefix('miss')"><i class="fa fa-check prefix" aria-hidden="true" [ngClass]="{'activemissPrefix':prefix==='miss'}"></i>
                      Miss</a>
                  </li>
                  <li class="prefixData">
                    <a (click)="checkPrefix('msa')"><i class="fa fa-check prefix" aria-hidden="true" [ngClass]="{'activemsaPrefix':prefix==='msa'}"></i>
                      M/S</a>
                  </li>

                </ul>
                <div class="row justify-content-md-center">
                  <div class="form-group mt-3 col-md-8">
                    <input alphabetsOnly type="text" class="form-control input-field" placeholder="First Name *"
                      [(ngModel)]="formData.firstName" name="firstName" required>
                  </div>
                  <div class="form-group  col-md-8">
                    <input alphabetsOnly type="text" class="form-control input-field" placeholder="Last Name *"
                      [(ngModel)]="formData.lastName" name="last-name" required>
                  </div>
                  <div class="form-group  col-md-8">
                    <input type="email" class="form-control input-field" placeholder="Email Id *" [(ngModel)]="formData.email"
                      name="email" required>
                  </div>
                  <div class="form-group  col-md-8">
                    <input myNumberOnly type="text" class="form-control input-field" placeholder="Mobile Number *"
                      [(ngModel)]="formData.forMobile" name="forMobile" maxlength="10" required>
                  </div>
                  <div class="form-group  col-md-8">
                    <input type="password" class="form-control input-field" placeholder="Password *" [(ngModel)]="formData.password"
                      name="password" required>
                  </div>
                  <div class="form-group col-md-8">
                    <input type="password" class="form-control input-field" placeholder="Confirm Password *"
                      [(ngModel)]="formData.conpassword" name="confirm-password" required>
                  </div>
                  <div class="form-group col-md-8">
                    <input type="text" class="form-control input-field" placeholder="Referral Code(Optional)"
                      [(ngModel)]="formData.referalCode" name="referal-code" required>
                  </div>
                  <div class="form-group col-md-8">
                    <button type="submit" class="btn  submit-button" (click)="openOtpScreen()">Sign IN</button>
                  </div>
                </div>
              </form>
              <div class="row account">
                <p>You already have an account?&nbsp;
                  <strong><a (click)="openSingin()">Sign In</a></strong>
                </p>
              </div>


            </div>
            <div class="col-md-6 background-image">
              <div class="row  align-items-center">
                <div class="col-md-12 text-center popup-logo">
                  <img src="assets/images/logo.png" alt="logo">
                </div>
              </div>
              <p class="download-stmt">Download our App. Enjoy Your Shoppings</p>
              <div class="row apps">

                <div class="col-md-6">
                  <img src="assets/images/google-play.png" class="text-center img-fluid play">
                </div>
                <div class="col-md-6">
                  <img src="assets/images/app-store.png" class="text-center img-fluid app">
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- registration tab -->

        <!-- login & registration -->

        <!-- opt screen -->
        <div class="container password-popup modal-box" *ngIf="showOtp">
          <div class="row">
            <div class="col-md-6">
              <div class="col-lg-2 p-0 ">
                <button class="btn button cross-btn" (click)="onCloseCancel()">
                  x
                </button>
              </div>
              <h6 class="text-center headerh6">OTP VERIFICATION</h6>
              <h5>We have sent an OTP to your registered Mobile Number.</h5>
              <h5>Please enter OTP.</h5>
              <form class="login-form">
                <div class="row justify-content-md-center">
                  <div class="form-group mt-3 col-md-8">
                    <input type="text" class="form-control input-field" placeholder="Enter OTP" name="otp" [(ngModel)]="formData.otp"
                      required>
                  </div>
                  <div class="form-group col-md-8">
                    <button type="submit" class="btn submit-button" (click)="checkOtp('forgotpswrd')">Continue</button>
                  </div>
                  <div class="form-group col-md-8">
                    <h5>
                      <a (click)="resendOtp()">Resend OTP</a>
                    </h5>
                  </div>

                </div>
              </form>

            </div>
            <div class="col-md-6 otp-image">
              <div class="row  align-items-center">
                <div class="col-md-12 text-center popup-logo">
                  <img src="assets/images/logo.png" alt="logo">
                </div>
              </div>
              <p class="download-stmt1">Download our App. Enjoy Your Shoppings</p>
              <div class="row apps">

                <div class="col-md-6">
                  <img src="assets/images/google-play.png" class="text-center img-fluid play">
                </div>
                <div class="col-md-6">
                  <img src="assets/images/app-store.png" class="text-center img-fluid app">
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- otp screen registration -->
        <div class="container password-popup modal-box" *ngIf="showOtpForRegister">
          <div class="row">
            <div class="col-md-6">
              <div class="col-lg-2 p-0 ">
                <button class="btn button cross-btn" (click)="onCloseCancel()">
                  x
                </button>
              </div>
              <h6 class="text-center headerh6">OTP VERIFICATION</h6>
              <h5>We have sent an OTP to Your registered Mobile Number.</h5>
              <h5>Please Enter OTP</h5>
              <form class="login-form">
                <div class="row justify-content-md-center">
                  <div class="form-group mt-3 col-md-8">
                    <input type="text" class="form-control input-field" placeholder="Enter OTP" name="otp" [(ngModel)]="formData.otp"
                      required>
                  </div>
                  <div class="form-group col-md-8">
                    <button type="submit" class="btn submit-button" (click)="checkOtp('registering')">Continue</button>
                  </div>
                  <div class="form-group col-md-8">
                    <h5>
                      <a (click)="resendOtp()">Resend OTP</a>
                    </h5>
                  </div>

                </div>
              </form>


            </div>
            <div class="col-md-6 otp-image">
              <div class="row  align-items-center">
                <div class="col-md-12 text-center popup-logo">
                  <img src="assets/images/logo.png" alt="logo">
                </div>
              </div>
              <p class="download-stmt1">Download our App. Enjoy Your Shoppings</p>
              <div class="row apps">

                <div class="col-md-6">
                  <img src="assets/images/google-play.png" class="text-center img-fluid play">
                </div>
                <div class="col-md-6">
                  <img src="assets/images/app-store.png" class="text-center img-fluid app">
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- otp screen-->
        <!-- forgot password -->
        <div class="container password-popup modal-box" *ngIf="showForgotPassword">
          <div class="row">
            <div class="col-md-6">
              <div class="col-lg-2 p-0 ">
                <button class="btn button cross-btn" (click)="onCloseCancel()">
                  x
                </button>
              </div>
              <h6 class="text-center headerh6">FORGOT PASSWORD</h6>
              <form class="login-form">
                <div class="row justify-content-md-center">
                  <div class="form-group mt-3 col-md-8">
                    <input type="text" class="form-control input-field" placeholder="Enter Your Mobile" [(ngModel)]="formData.forMobile"
                      name="forMobile" required>
                  </div>
                  <div class="form-group col-md-8">
                    <button type="submit" class="btn  submit-button" *ngIf="!disableforgot" (click)="forgot()">Submit</button>
                    <button type="submit" class="btn  submit-button" disabled *ngIf="disableforgot">Submit</button>
                  </div>

                </div>
              </form>


            </div>
            <div class="col-md-6 otp-image">
              <div class="row  align-items-center">
                <div class="col-md-12 text-center popup-logo">
                  <img src="assets/images/logo.png" alt="logo">
                </div>
              </div>
              <p class="download-stmt1">Download our App. Enjoy Your Shoppings</p>
              <div class="row apps">

                <div class="col-md-6">
                  <img src="assets/images/google-play.png" class="text-center img-fluid play">
                </div>
                <div class="col-md-6">
                  <img src="assets/images/app-store.png" class="text-center img-fluid app">
                </div>
              </div>

            </div>
          </div>
        </div>
        <!--change pw-->
        <div class="container password-popup modal-box" *ngIf="changepw">
          <div class="row">
            <div class="col-md-6">
              <div class="col-lg-2 p-0 ">
                <button class="btn button cross-btn" (click)="onCloseCancel()">
                  x
                </button>
              </div>
              <h6 class="text-center headerh6">CHANGE PASSWORD</h6>
              <form class="login-form">
                <div class="row justify-content-md-center">
                  <div class="form-group mt-3 col-md-8">
                    <input type="text" class="form-control input-field" placeholder="Enter Your New Password"
                      [(ngModel)]="formData.newPw" name="forPassword" required>
                  </div>
                  <div class="form-group col-md-8">
                    <button type="submit" class="btn  submit-button" (click)="updatePw()">Submit</button>
                  </div>

                </div>
              </form>


            </div>
            <div class="col-md-6 otp-image">
              <div class="row  align-items-center">
                <div class="col-md-12 text-center popup-logo">
                  <img src="assets/images/logo.png" alt="logo">
                </div>
              </div>
              <p class="download-stmt1">Download our App. Enjoy Your Shoppings</p>
              <div class="row apps">

                <div class="col-md-6">
                  <img src="assets/images/google-play.png" class="text-center img-fluid play">
                </div>
                <div class="col-md-6">
                  <img src="assets/images/app-store.png" class="text-center img-fluid app">
                </div>
              </div>

            </div>

          </div>

        </div>

        <!--change pw-->

      </div>

    </div>
  </div>

</div>


<div class="modal-backdrop show" *ngIf="showOpacity"></div>
<!-- popups -->