<div class="products">
  <div class="row items">
    <div class="col-md-3 item">
      <div class="card" (click)="showProduxtDetails()">
        <a>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
        <img class="img-fluid product-img" src="/assets/images/product1.png" alt="Card image cap">
        <img class="img-fluid valuepack" src="/assets/images/valuePack.jpg" alt="Card image cap">
        <div class="card-block">
          <h5>Aashirvaad Whole Wheat Atta- 100% Pure </h5>
          <p>10 Kg</p>
          <div class="row  item-price">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="price">
                <i class="fa fa-rupee" aria-hidden="true"></i>
                359</span>
              <strike>
                <i class="fa fa-rupee" aria-hidden="true"></i>
                420</strike>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="saveMney">you save 14%</span>
            </div>
          </div>
          <br />
          <div class="row prdct-length">
            <div class="col-md-4">
              <span *ngIf="showInput">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </span>
            </div>
            <div class="col-md-4 quantity">
              <span class="add text-center" *ngIf="!showInput">Add</span>
              <span *ngIf="showInput">1</span>
            </div>
            <div class="col-md-4">
              <span class="plus" (click)="showInputValue()">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 item">
      <div class="card" (click)="showProduxtDetails()">
        <a>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
        <img class="img-fluid product-img" src="/assets/images/product1.png" alt="Card image cap">
        <img class="img-fluid valuepack" src="/assets/images/hotpack.jpg" alt="Card image cap">
        <div class="card-block">
          <h5>Aashirvaad Whole Wheat Atta- 100% Pure </h5>
          <p>10 Kg</p>
          <div class="row  item-price">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="price">
                <i class="fa fa-rupee" aria-hidden="true"></i>
                359</span>
              <strike>
                <i class="fa fa-rupee" aria-hidden="true"></i>
                420</strike>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="saveMney">you save 14%</span>
            </div>
          </div>
          <br />
          <div class="row prdct-length">
            <div class="col-md-4">
              <span *ngIf="showInput">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </span>
            </div>
            <div class="col-md-4 quantity">
              <span class="add text-center" *ngIf="!showInput">Add</span>
              <span *ngIf="showInput">1</span>
            </div>
            <div class="col-md-4">
              <span class="plus" (click)="showInputValue()">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 item">
      <div class="card" (click)="showProduxtDetails()">
        <a>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
        <img class="img-fluid product-img" src="/assets/images/product1.png" alt="Card image cap">
        <!-- <img class="img-fluid valuepack" src="/assets/images/valuePack.jpg" alt="Card image cap"> -->
        <div class="card-block">
          <h5>Aashirvaad Whole Wheat Atta- 100% Pure </h5>
          <p>10 Kg</p>
          <div class="row  item-price">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="price">
                <i class="fa fa-rupee" aria-hidden="true"></i>
                359</span>
              <strike>
                <i class="fa fa-rupee" aria-hidden="true"></i>
                420</strike>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="saveMney">you save 14%</span>
            </div>
          </div>
          <br />
          <div class="row prdct-length">
            <div class="col-md-4">
              <span *ngIf="showInput">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </span>
            </div>
            <div class="col-md-4 quantity">
              <span class="add text-center" *ngIf="!showInput">Add</span>
              <span *ngIf="showInput">1</span>
            </div>
            <div class="col-md-4">
              <span class="plus" (click)="showInputValue()">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 item">
      <div class="card" (click)="showProduxtDetails()">
        <a>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
        <img class="img-fluid product-img" src="/assets/images/product1.png" alt="Card image cap">
        <img class="img-fluid valuepack" src="/assets/images/valuePack.jpg" alt="Card image cap">
        <div class="card-block">
          <h5>Aashirvaad Whole Wheat Atta- 100% Pure </h5>
          <p>10 Kg</p>
          <div class="row  item-price">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="price">
                <i class="fa fa-rupee" aria-hidden="true"></i>
                359</span>
              <strike>
                <i class="fa fa-rupee" aria-hidden="true"></i>
                420</strike>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="saveMney">you save 14%</span>
            </div>
          </div>
          <br />
          <div class="row prdct-length">
            <div class="col-md-4">
              <span *ngIf="showInput">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </span>
            </div>
            <div class="col-md-4 quantity">
              <span class="add text-center" *ngIf="!showInput">Add</span>
              <span *ngIf="showInput">1</span>
            </div>
            <div class="col-md-4">
              <span class="plus" (click)="showInputValue()">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3 item">
      <div class="card" (click)="showProduxtDetails()">
        <a>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
        <img class="img-fluid product-img" src="/assets/images/product1.png" alt="Card image cap">
        <img class="img-fluid valuepack" src="/assets/images/valuePack.jpg" alt="Card image cap">
        <div class="card-block">
          <h5>Aashirvaad Whole Wheat Atta- 100% Pure </h5>
          <p>10 Kg</p>
          <div class="row  item-price">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="price">
                <i class="fa fa-rupee" aria-hidden="true"></i>
                359</span>
              <strike>
                <i class="fa fa-rupee" aria-hidden="true"></i>
                420</strike>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="saveMney">you save 14%</span>
            </div>
          </div>
          <br />
          <div class="row prdct-length">
            <div class="col-md-4">
              <span *ngIf="showInput">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </span>
            </div>
            <div class="col-md-4 quantity">
              <span class="add text-center" *ngIf="!showInput">Add</span>
              <span *ngIf="showInput">1</span>
            </div>
            <div class="col-md-4">
              <span class="plus" (click)="showInputValue()">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 item">
      <div class="card" (click)="showProduxtDetails()">
        <a>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
        <img class="img-fluid product-img" src="/assets/images/product1.png" alt="Card image cap">
        <!-- <img class="img-fluid valuepack" src="/assets/images/hotpack.jpg" alt="Card image cap"> -->
        <div class="card-block">
          <h5>Aashirvaad Whole Wheat Atta- 100% Pure </h5>
          <p>10 Kg</p>
          <div class="row  item-price">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="price">
                <i class="fa fa-rupee" aria-hidden="true"></i>
                359</span>
              <strike>
                <i class="fa fa-rupee" aria-hidden="true"></i>
                420</strike>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="saveMney">you save 14%</span>
            </div>
          </div>
          <br />
          <div class="row prdct-length">
            <div class="col-md-4">
              <span *ngIf="showInput">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </span>
            </div>
            <div class="col-md-4 quantity">
              <span class="add text-center" *ngIf="!showInput">Add</span>
              <span *ngIf="showInput">1</span>
            </div>
            <div class="col-md-4">
              <span class="plus" (click)="showInputValue()">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 item">
      <div class="card" (click)="showProduxtDetails()">
        <a>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
        <img class="img-fluid product-img" src="/assets/images/product1.png" alt="Card image cap">
        <!-- <img class="img-fluid valuepack" src="/assets/images/valuePack.jpg" alt="Card image cap"> -->
        <div class="card-block">
          <h5>Aashirvaad Whole Wheat Atta- 100% Pure </h5>
          <p>10 Kg</p>
          <div class="row  item-price">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="price">
                <i class="fa fa-rupee" aria-hidden="true"></i>
                359</span>
              <strike>
                <i class="fa fa-rupee" aria-hidden="true"></i>
                420</strike>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="saveMney">you save 14%</span>
            </div>
          </div>
          <br />
          <div class="row prdct-length">
            <div class="col-md-4">
              <span *ngIf="showInput">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </span>
            </div>
            <div class="col-md-4 quantity">
              <span class="add text-center" *ngIf="!showInput">Add</span>
              <span *ngIf="showInput">1</span>
            </div>
            <div class="col-md-4">
              <span class="plus" (click)="showInputValue()">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 item">
      <div class="card" (click)="showProduxtDetails()">
        <a>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
        <img class="img-fluid product-img" src="/assets/images/product1.png" alt="Card image cap">
        <img class="img-fluid valuepack" src="/assets/images/valuePack.jpg" alt="Card image cap">
        <div class="card-block">
          <h5>Aashirvaad Whole Wheat Atta- 100% Pure </h5>
          <p>10 Kg</p>
          <div class="row  item-price">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="price">
                <i class="fa fa-rupee" aria-hidden="true"></i>
                359</span>
              <strike>
                <i class="fa fa-rupee" aria-hidden="true"></i>
                420</strike>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <span class="saveMney">you save 14%</span>
            </div>
          </div>
          <br />
          <div class="row prdct-length">
            <div class="col-md-4">
              <span *ngIf="showInput">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </span>
            </div>
            <div class="col-md-4 quantity">
              <span class="add text-center" *ngIf="!showInput">Add</span>
              <span *ngIf="showInput">1</span>
            </div>
            <div class="col-md-4">
              <span class="plus" (click)="showInputValue()">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
